  section{
        text-align: center;
        // margin-top: 70px;
        padding-top: 70px;
        background: #fff;
    .banner {
        width: 100%;
        
        img {
            width: 100%;
            height: 200px;
        }
    }
    .mainbox {
        // background: #000;
        width: 80%;
        height: 450px;
        margin: 0 auto;

        display: flex;
        border: 1px solid #000;
        
        .contentbox {
            width: 70%;
            // background: orange;
            border-right: 2px solid #DDDDDD;
            
            
            // 컨텐츠 박스들 시작
            .ship{
                border: 1px solid #000;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .t1 {
                        margin-left: 20px;
                        font-size: 13px;
                        font-weight: 700;
                    }
                    .t2 {
                        font-size: 10px;
                        margin-right: 10px;
                        text-decoration: underline;
                    }
                }   
            .shipboxs {
                width: 100%;
                height: 100px;
                background: blue;

                display: flex;
                justify-content: flex-end;
                align-items: center;
                
                div {

                    margin-right: 60px;

                    width: 120px;
                    height: 100px;
                    background: green;
                    border: 1px solid #000;
                    overflow: hidden;
                    img {
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
            }


            }

        }
        // 컨텐츠 박스들 끝

        .apibox {
            width: 30%;
            // background: red;
            // border: 1px solid #000;

            .exbox {
                width: 100%;
                height: 300px;
                background: pink;
            }
        }
        
    }
}